body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

.section-1 {
    background-image: url(../images/pria.png);
    min-height: 100vh;
    background-size: cover;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 27px 165px;
}

.logo {
    display: flex;
    gap: 28px;
    align-items: center;
}

.menu-container {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;

}
.menu-container>button {
    background: #FF4343;
    color: #FFFFFF;
}

.text-section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
    color: #FFFFFF; 
}

.btn-id {
    border: 0;
    padding: 8px 16px;
    border-radius: 8px;
    background: #FF4343;
    color: #FFFFFF;
    cursor: pointer;
}

.content h3 {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 5.5px;
}

.content h1 {
    margin-bottom: 25px;
    line-height: 75px;
    font-size: 52px;
    max-width: 700px;
}

.section-2 {
    max-width: 700px;
    margin: 0 auto;
    padding: 80px 20px;
    text-align: center;
    width: 100%;
}

.text-conten>h1{
    color:  #1F2C73;
}

.line {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #ff3b3b;
    margin: 0 auto 24px;
    border-radius: 2px;
}
.section-2>p {
    font-size: 16px;
    line-height: 34.5px;
    font-weight: 450px;
}
.sec-3 {
    height: 1025px;
    background-color: #EEF3F9;
    text-align: center;
    color: #1F2C73;
    padding-top: 128px;
    width: 100%;
}
.sec-3-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 1100px;
    margin: 0 auto;
}

.triangle {
    width: 100%;
    height: 195px;
    background: #ffffff;
    margin-top: 86px;

    clip-path: polygon(0 100%, 100% 0,100% 100%);
}
.section-4 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 120px 20px;
    display: flex;
    gap: 60px;
}
.text-sect-4>h2 {
    color: #1F2C73;
    margin: 0;
    font-size: 40px;
}
.text-sect-4>b {
    color: #1F2C73;
    margin-bottom: 0;
}
.text-sect-4>p {
    color: #686868;
}
.Dribble {
    font-family: "Ole", cursive;
    font-size: 50px;
}
.section-5 {
    background-color: #EEF3F9;
    padding: 50px 20px;
}
.careers {
     width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
.judul {
    color: #1F2C73;
}
.line {
     display: block;
    width: 24px;
    height: 3px;
    background-color: #ff3b3b;
    border-radius: 2px;
}
.careers>p {
    max-width: 520px;
    font-size: 15px;
    color: #6b6b6b;
    padding-top: 20px;
}
.city {
     max-width: 1100px;
    margin: 0 auto;
     padding-right: 50px; 
    display: flex;
    justify-content: space-between;
}
.city-title {
    color: #1F2C73;
    font-size: 20px;
    font-weight: 800;
}
.btn-sect-5 {
     background-color: #FF4343;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.bi {
    font-size: 25px;
}
.section-6 {
    padding: 50px 20px;
    max-width: 1100px;
    margin: 0 auto;
}
.sect-6-content {
    display: flex;
    gap: 25px;
    margin-top: 32px;
}
.picture3 {
    width: 362px;
    height: 244px;
}
.caption {
    font-size: 20px;
    font-family: "League Spartan", sans-serif;
}

.profile {
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

.section-7 {
    /* margin: auto; */
    text-align: center;
    min-height: 464px;
    background-image: url(../images/pria-berjanggut.png);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding-top: 100px;
    font-size: 30px;
}
.section-7>h1 {
    font-weight: 500;
}
.section-8 {
    display: flex;
    justify-content: center;
    gap: 50px;
    background: black;
    color: #EEF3F9;
}