body{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     font-family: "League Spartan", sans-serif;
}

.bg-section{
 background-image: url(../images/pria.png);
 min-height: 100vh;
 background-size: cover
 
}

.container-navbar{  
 display: flex;  
 justify-content: space-between;
 padding: 27px 165px;
}

.navbar{
 display: flex;
 gap: 28px;
 align-items: center;
}

.navbar a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.btn-id{
    border: 0;
    padding: 8px 16px;
    border-radius: 8px;
    background: #FF4343;
    color: #FFFFFF;
    cursor: pointer;

}


.first-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
    color: #FFFFFF;
}

.content h3 {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 5.5px;
}

.content h1 {
    margin-bottom: 25px;
    line-height: 75px;
    font-size: 52px;
    max-width: 700px;
}