 /* section 1 */
.foto-pria{
    background-image: url("../images/pria.png");
    height:714px;
    font-family: 'poppins', sans-serif;
    color:aliceblue;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.menu{
    display:flex;
    gap: 40px;
    align-items:center;
}

.content{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    margin-top:150px;
}
  
.tombol{
    padding:10px 20px;
    background-color: #FF4343;
    color:aliceblue;
    border-radius:5px; 
}

/* section2 */
.inertia{
     color:#1F2C73;
}

.welcome{
    font-family: 'poppins', sans-serif; ;
    text-align: center;
    padding-top:48px ;
    padding-bottom:64px;
    padding-right: 400px;
    padding-left:400px;
    gap: 16px;
}

 /* section 3 */
 .featured-project{
    background-color: #EEF3F9;
    padding: 25px;
 }

 .project{
    padding:75px;
    text-align:center;
    align-items: center;
 }

 .gambar{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
 }

/* section 4 */
.dua-text{
    display:flex;
    font-size: 15px;
    padding-top: 160px;
    padding-right: 152px;
    padding-bottom:128px;
    padding-left: 152px;
}

/* section 5 */
.careers{
    padding:96px 152px;
    background-color: #F6F9FC;
}

.careers-at{
    padding-right: 500px;
    font-family: 'poppins', sans-serif;
}

.text-p{
    color:#424242CC;
}
.trio-kota{
    display: flex;
    justify-content: space-between;
}

.btn-careers{
    background-color:#FF4343;
    color:#EEF3F9;
    padding: 12px 24px;
    border-radius: 5px;
    margin-top: 25px;
}

/* section 6 */
.from{
    padding: 128px 152px;
}

.trio-gupron{
    margin-top:30px;
    display:flex;
    justify-content: space-between;
    gap:20px;
}

/* section7 */
.jenggot{
    background-image:url("images/pria-berjanggut.png");
    height:464px;
    
}

.want{
    display:flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    color:white;
    border-radius: 5px;
}

/* section 8 */
.ending{
    background-color: #000000;
    height:477px;
}

.info{
    padding:68px 152px;
    color:#EEF3F9;
    display: flex;
    justify-content: space-between;
}