:root {
  /* Primary Colors */
  --color-primary: #000000;

  /* Secondary Colors */
  --color-secondary: #F50103;
  --color-secondary-light: #F55529;

  /* Neutral Colors */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray-100: #181818;
  --color-gray-150: #1D2027;

  /* Font Weight */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extrabold: 800;

  /* Font Family */
  --font-work-sans: 'Work Sans', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-league-spartan: 'League Spartan', sans-serif;
  --font-epilogue: 'Epilogue', sans-serif;
  --font-cormorant: 'Cormorant', serif;
  --font-gelasio: 'Gelasio', serif;
}

/* ClASS COMPONENT */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 135px;
  gap: 100px;

  nav {
    display: flex;
    gap: 40px;

    a {
      text-decoration: none;
      color: var(--color-neutral-950);
      font-family: var(--font-open-sans);
      font-size: 16px;
    }
  }
}


.btn {
  padding: 16px 26px;
  background-color: var(--color-neutral-950);
  color: var(--color-black);
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 200ms;
  font-size: 20px;
  font-weight: var(--weight-semibold);
  font-family: var(--font-open-sans);
  gap: 10px;
  text-decoration: none;
  border: none;

  &:hover {
    background-color: var(--color-neutral-800);
  }

  &:active {
    background-color: var(--color-neutral-900);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}