:root {
  /* Primary Colors */
  --color-primary: #000000;

  /* Secondary Colors */
  --color-secondary: #f50103;
  --color-secondary-light: #f55529;

  /* Neutral Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-100: #181818;
  --color-gray-150: #1D2027;
  --color-gray-200: #1C1C1C;

  /* Font Weight */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extrabold: 800;

  /* Font Family */
  --font-work-sans: "Work Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-league-spartan: "League Spartan", sans-serif;
  --font-epilogue: "Epilogue", sans-serif;
  --font-cormorant: "Cormorant", serif;
  --font-gelasio: "Gelasio", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background-color: var(--color-secondary);
  padding: 8px 20px;
  color: var(--color-white);
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 200ms;
  font-weight: var(--weight-extrabold);
  font-family: var(--font-lato);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;

  &:hover {
    background-color: var(--color-secondary-light);
  }

  &:active {
    background-color: var(--color-secondary);
  }
}

.portofolio__container {
  /* border: solid white; */
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: var(--font-lato);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .portofolio__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 67px;

    .title__container {
      /* border: solid yellow; */
      display: flex;
      flex-direction: column;
      gap: 36px;

      .title {
        font-size: 56px;
        font-weight: var(--weight-bold);
        width: 535px;
      }

      .description {
        /* border: solid red; */
        font-size: 18px;
        font-family: var(--font-work-sans);
        width: 550px;
        text-align: center;
      }
    }
    
    .portofolio__content-image {
      /* border: solid yellow; */
      width: 1200px;
    }

    .btn-portofolio {
      font-family: var(--font-work-sans);
      font-weight: var(--weight-medium);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}