@import url('./global.css');

:root {
    --color-black: #000000;
    --color-neutral-950: #090909;
    --color-blue-950: #0E1D5A;
    --color-neutral-900: #111111;
    --color-neutral-900-80: #111111cc;
    --color-neutral-900-90: #111111e6;
    --color-neutral-700: #3A3A3A;
    --color-neutral-500: #7C7C7C;
    --color-lime-500: #9ed40e;
    --color-lime-400: #C0EF37;
    --color-lime-300: #CAEF46;
    --color-amber-500: #EE9E00;
    --color-orange-50: #FEF1E7;
    --color-orange-55: #FFF1E8;
    --color-white: #FFFFFF;
    --color-white-50: #FFFFFF80;
}

/* Component class */
body {
    font-family: var(--font-space-grotesk);
}

.container {
    padding: 0px 32px;
    max-width: 1440px;
    margin: 0 auto;
}

.btn {
    padding: 16px 32px;
    border: 2px solid var(--color-neutral-900);
    background-color: var(--color-lime-400);
    font-size: 16px;
    font-weight: var(--weight-bold);
    cursor: pointer;
    transition-duration: 200ms;

    &:hover {
        background-color: var(--color-lime-500);
    }
}

/* Hero section */
.hero {
    background-color: var(--color-orange-55);
    display: flex;
    align-items: center;
    height: 100svh;
    max-height: 800px;
    position: relative;
    overflow: hidden;

    .hero__content {
        position: relative;
        margin-left: 20%;

        .hero__content-title {
            /* clamp(min, preferred ((max/targetScreen) * 100), max) */
            font-size: clamp(36px, 6vw, 88px);
            font-weight: var(--weight-bold);
            color: var(--color-neutral-900);
            line-height: 120%;
            max-width: 10ch;
            margin-bottom: 16px;
        }

        .hero__content-description {
            font-size: clamp(14px, 1.5vw, 16px);
            color: var(--color-neutral-900);
            font-weight: var(--weight-medium);
            line-height: 1.6;
            font-family: var(--font-dm-sans);
            max-width: 40ch;
            margin-bottom: 44px;
        }

        .hero__content-hole {
            position: absolute;
            right: -40px;
            top: -40px;
        }
    }

    .hero__image {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .hero__ellipse {
        position: absolute;
        left: 0;
    }

    .hero__spring {
        position: absolute;
        left: 10%;
        bottom: 10%;
    }
}

/* hero - (mobile - tablet) */
@media (max-width: 1023px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        padding-inline: 16px;

        .hero__content {
            margin-left: 0;
            z-index: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .hero__content-title {
                max-width: 100%;
            }

            .hero__content-description {
                max-width: 50%;
            }

            .hero__content-hole {
                display: none;
                right: 20px;
            }
        }

        .hero__image {
            display: none;
        }

        .hero__ellipse {
            top: -30%;
        }

        .hero__spring {
            left: auto;
            bottom: 0;
            right: 40px;
            scale: 0.8;
        }
    }
}

/* hero - laptop */
@media (min-width: 1024px) and (max-width: 1440px) {
    .hero {
        .hero__content {
            margin-left: 10%;
        }

        .hero__image {
            right: -15rem;
        }

        .hero__spring {
            display: none;
        }
    }
}

/* hero - large desktop */
@media (min-width: 2560px) {
    .hero {
        .hero__image {
            right: 15%;
        }
    }
}


/* Portofolio */
.portofolio {
    display: flex;
    flex-direction: column;
    gap: 66px;
    padding: 100px 32px;
    position: relative;
    overflow: hidden;

    .portofolio__intro {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 58px;

        .portofolio__intro-banner {
            background-color: var(--color-black);
            padding: 52px 32px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            align-items: center;
            position: relative;

            .portofolio__intro-banner-title {
                font-size: 34px;
                font-weight: var(--weight-bold);
                color: var(--color-white);
                white-space: nowrap;
            }

            .btn {
                .btn-arrow-icon {
                    font-size: 22px;
                    rotate: -55deg;
                }
            }

            .portofolio__intro-banner-top-wave {
                position: absolute;
                width: 100%;
                top: -12px;
                left: 0;
            }

            .portofolio__intro-banner-bottom-wave {
                rotate: 180deg;
                position: absolute;
                width: 100%;
                bottom: -12px;
                left: 0;
            }
        }

        .portofolio__intro-text {
            max-width: 35ch;
            font-size: 24px;
            font-weight: var(--weight-bold);
            color: var(--color-black);
            text-decoration: underline;
        }
    }

    .portofolio__showcase {
        display: flex;
        gap: 33px;
        justify-content: center;

        .portofolio__showcase-card {
            display: flex;
            flex-direction: column;
            gap: 35px;

            .portofolio__showcase-card-body {
                display: flex;
                flex-direction: column;
                gap: 13px;

                .portofolio__showcase-card-title {
                    font-size: 40px;
                    font-weight: var(--weight-bold);
                }

                .portofolio__showcase-card-description {
                    font-size: 24px;
                    font-weight: var(--weight-medium);
                    color: var(--color-neutral-500);
                    max-width: 30ch;
                }
            }
        }
    }

    .portofolio__ellipse {
        position: absolute;
        rotate: 180deg;
        right: -20px;
        top: -20%;
    }
}

/* portofolio - (mobile - tablet) */
@media (max-width: 768px) {
    .portofolio {
        padding: 50px 16px;
        gap: 38px;

        .portofolio__intro {
            flex-direction: column;
            gap: 28px;

            .portofolio__intro-banner {
                padding: 26px 16px;
                gap: 16px;

                .portofolio__intro-banner-title {
                    white-space: normal;
                }

                .portofolio__intro-banner-top-wave {
                    top: -8px;
                }

                .portofolio__intro-banner-bottom-wave {
                    bottom: -8px;
                }
            }
        }

        .portofolio__showcase {
            flex-direction: column;

            .portofolio__showcase-card {
                gap: 18px;

                .portofolio__showcase-card-body {
                    gap: 6px;

                    .portofolio__showcase-card-title {
                        font-size: 36px;
                    }

                    .portofolio__showcase-card-description {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

/* Reviews */
.reviews {
    padding-block: 150px;
    background-color: var(--color-orange-55);
    position: relative;

    .reviews__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 46px;

        .reviews__header-title {
            font-size: 48px;
            font-weight: var(--weight-bold);
            text-decoration: underline;
            color: var(--color-black);
        }
    }

    .reviews__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        align-items: start;

        .reviews__card {
            border: 2px solid var(--color-neutral-900);
            padding: 30px;
            background-color: var(--color-white);

            &.reviews__card--offset-top {
                margin-top: 30px;
            }

            .reviews__card-stars {
                display: flex;
                gap: 4px;
                color: var(--color-amber-500);
                margin-bottom: 30px;
            }

            .reviews__card-body {
                font-family: var(--font-dm-sans);
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 40px;
                text-align: justify;
            }

            .reviews__card-author {
                display: flex;
                gap: 16px;

                .reviews__card-author-img {
                    width: 43px;
                }

                .reviews__card-author-profile {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    .reviews__card-author-name {
                        font-size: 16px;
                        font-weight: var(--weight-semibold);
                        color: var(--color-neutral-900);
                    }

                    .reviews__card-author-role {
                        font-size: 14px;
                        font-weight: var(--weight-regular);
                        color: var(--color-neutral-900-80);
                    }
                }
            }
        }
    }

    .reviews__ellipse-purple {
        position: absolute;
        top: -4rem;
        right: 0;
        width: 15rem;
    }

    .reviews__ellipse-orange {
        position: absolute;
        bottom: -4rem;
        left: 0;
        width: 15rem;
    }
}