@import url('./global.css');

:root {
    --color-black: #000000;
    --color-neutral-950: #090909;
    --color-blue-950: #0E1D5A;
    --color-neutral-900: #111111;
    --color-neutral-900-80: #111111cc;
    --color-neutral-900-90: #111111e6;
    --color-neutral-700: #3A3A3A;
    --color-neutral-500: #7C7C7C;
    --color-lime-500: #9ed40e;
    --color-lime-400: #C0EF37;
    --color-lime-300: #CAEF46;
    --color-amber-500: #EE9E00;
    --color-orange-50: #FEF1E7;
    --color-orange-55: #FFF1E8;
    --color-white: #FFFFFF;
    --color-white-50: #FFFFFF80;
}

/* Class component */
body {
    font-family: var(--font-space-grotesk);
}

.btn {
    padding: 16px 32px;
    border: 2px solid var(--color-neutral-900);
    background-color: var(--color-lime-400);
    font-size: 16px;
    font-weight: var(--weight-bold);
    cursor: pointer;
    transition-duration: 200ms;

    &:hover {
        background-color: var(--color-lime-500);
    }
}

/* Hero section */
.hero {
    background-color: var(--color-orange-55);
    display: flex;
    align-items: center;
    height: 100svh;
    max-height: 800px;
    position: relative;
    overflow: hidden;

    .hero__content {
        position: relative;
        margin-left: 20%;

        .hero__content-title {
            /* clamp(min, preferred ((max/targetScreen) * 100), max) */
            font-size: clamp(36px, 6vw, 88px);
            font-weight: var(--weight-bold);
            color: var(--color-neutral-900);
            line-height: 120%;
            max-width: 10ch;
            margin-bottom: 16px;
        }

        .hero__content-description {
            font-size: clamp(14px, 1.5vw, 16px);
            color: var(--color-neutral-900);
            font-weight: var(--weight-medium);
            line-height: 1.6;
            font-family: var(--font-dm-sans);
            max-width: 40ch;
            margin-bottom: 44px;
        }

        .hero__content-hole {
            position: absolute;
            right: -40px;
            top: -40px;
        }
    }

    .hero__image {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .hero__ellipse {
        position: absolute;
        left: 0;
    }

    .hero__spring {
        position: absolute;
        left: 10%;
        bottom: 10%;
    }
}

/* Responsive mobile - tablet */
@media (max-width: 1023px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        padding-inline: 16px;

        .hero__content {
            margin-left: 0;
            z-index: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .hero__content-title {
                max-width: 100%;
            }

            .hero__content-description {
                max-width: 50%;
            }

            .hero__content-hole {
                display: none;
                right: 20px;
            }
        }

        .hero__image {
            display: none;
        }

        .hero__ellipse {
            top: -30%;
        }

        .hero__spring {
            left: auto;
            bottom: 0;
            right: 40px;
            scale: 0.8;
        }
    }
}

/* Responsive laptop */
@media (min-width: 1024px) and (max-width: 1440px) {
    .hero {
        .hero__content {
            margin-left: 10%;
        }

        .hero__image {
            right: -15rem;
        }

        .hero__spring {
            display: none;
        }
    }
}

/* Large desktop */
@media (min-width: 2560px) {
    .hero {
        .hero__image {
            right: 15%;
        }
    }
}