:root {
    /* Primary */
    --color-primary: #EA3D3C;

    /* Dark (navy / dark section backgrounds) */
    --color-dark-700: #25373F;
    --color-dark-800: #2E2E46;
    --color-dark-900: #0D152E;
    --color-dark-950: #0E1017;

    /* Neutral (grey scale) */
    --color-neutral-50: #F3F7F5;
    --color-neutral-100: #F2F2F2;
    --color-neutral-300: #81838C;
    --color-neutral-400: #7B7D84;
    --color-neutral-500: #69697B;
    --color-neutral-800: #333333;
    --color-neutral-950: #111111;
    --color-neutral-900: #000000;
    --color-white: #FFFFFF;

    /* Accent */
    --color-accent-green: #9CD161;
    --color-accent-yellow: #F5AD0D;
    --color-accent-orange: #FB690C;

    /* Font Weight */
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
    --weight-extrabold: 800;


    /* Font family */
    --font-inter: "Inter", sans-serif;
    --font-dm-sans: "DM Sans", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --font-epilogue: "Epilogue", sans-serif;
}

/* ClASS COMPONENT */
.btn {
    padding: 16px 26px;
    background-color: var(--color-neutral-950);
    color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 200ms;
    font-size: 20px;
    font-weight: var(--weight-semibold);
    font-family: var(--font-open-sans);
    gap: 10px;
    text-decoration: none;
    border: none;

    &:hover {
        background-color: var(--color-neutral-800);
    }

    &:active {
        background-color: var(--color-neutral-900);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 135px;
    gap: 100px;

    nav {
        display: flex;
        gap: 40px;

        a {
            text-decoration: none;
            color: var(--color-neutral-950);
            font-family: var(--font-open-sans);
            font-size: 16px;

        }
    }
}

/* Hero */
.hero {
    background-color: var(--color-neutral-100);
    max-height: 1440px;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 47px;

    .hero___bg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: auto;

        .hero___content {
            position: relative;
            max-width: 800px;
            margin-bottom: 20px;
            padding-left: 135px;

            /* .dot___left{
                left: -50px;
                width: 60px;
            } */

            h2 {
                font-size: 25px;
                font-family: var(--font-open-sans);
                margin-bottom: 20px;
            }

            h1 {
                font-size: 62px;
                font-family: var(--font-open-sans);
                font-weight: bold;
                margin-bottom: 20px;

                span {
                    color: var(--color-primary);
                }

                img {
                    position: relative;
                    height: 100px;
                    top: 80px;
                }
            }

            p {
                font-size: 18px;
                color: var(--color-neutral-400);
                margin-bottom: 30px;
                line-height: 1.7;
            }

            button {
                color: #FFFFFF;
                background-color: var(--color-primary);
                border: none;
                border-radius: 4px;
                padding: 16px 34px;
                cursor: pointer;

                &:hover {
                    background-color: var(--color-neutral-300);
                }

                img {
                    padding-left: 16px;
                }

            }

        }

        .hero___img {

            position: relative;
            padding-right: 115px;

            .dot___pattern {
                position: absolute;
                bottom: -1px;
                right: -20px;
                z-index: 1;
            }

            img::not(.dot___pattern) {
                position: relative;
                z-index: 2;
            }
        }
    }

    /* img {
        position: relative;
        top: 95px;
    } */



}

/* Famous clients */
.famous {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 140px 0px;

    h3 {
        font-size: 24px;
        font-weight: var(--weight-bold);
        color: var(--color-neutral-800);
        font-family: var(--font-epilogue);
        margin-bottom: 35px;
    }

    .famous__clients {
        display: flex;
        gap: 54px;
        align-items: start;
    }
}