:root {
    /* Primary */
    --color-primary: #EA3D3C;

    /* Dark (navy / dark section backgrounds) */
    --color-dark-700: #25373F;
    --color-dark-800: #2E2E46;
    --color-dark-900: #0D152E;
    --color-dark-950: #0E1017;

    /* Neutral (grey scale) */
    --color-neutral-50: #F3F7F5;
    --color-neutral-100: #F2F2F2;
    --color-neutral-300: #81838C;
    --color-neutral-400: #7B7D84;
    --color-neutral-500: #69697B;
    --color-neutral-800: #333333;
    --color-neutral-950: #111111;
    --color-white: #FFFFFF;

    /* Accent */
    --color-accent-green: #9CD161;
    --color-accent-yellow: #F5AD0D;
    --color-accent-orange: #FB690C;

    /* Font Weight */
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
    --weight-extrabold: 800;


    /* Font family */
    --font-inter: "Inter", sans-serif;
    --font-dm-sans: "DM Sans", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --font-epilogue: "Epilogue", sans-serif;
}

/* sec 3 */
.exp-service{
padding:50px 60px;
font-family: var(--font-epilogue);
}

.service{
text-align: center;
color:#333333;

h1{
    font-size: 56px;
}

p{
    font-size: 20px;
}
}

.content-ikon{
background-color:#EA3D3C4D;
border-radius: 50%;
width:65px;
height:65px;
position: relative;

.ikon{
    color:var(--color-dark-700);
    font-size:52.5px;
    position:absolute;
    right:0;
    bottom: 0;
}
}

.card{
    margin-top:68px;
    display:flex;
    justify-content: space-between;
    gap:104px;
    color:#25373F;

    h5{
        font-size: 22px;
    }

    p{
        font-size: 16px;
    }
}