:root {
    /* Primary */
    --color-primary: #EA3D3C;

    /* Dark (navy / dark section backgrounds) */
    --color-dark-700: #25373F;
    --color-dark-800: #2E2E46;
    --color-dark-900: #0D152E;
    --color-dark-950: #0E1017;

    /* Neutral (grey scale) */
    --color-neutral-50: #F3F7F5;
    --color-neutral-100: #F2F2F2;
    --color-neutral-300: #81838C;
    --color-neutral-400: #7B7D84;
    --color-neutral-500: #69697B;
    --color-neutral-800: #333333;
    --color-neutral-950: #111111;
    --color-white: #FFFFFF;

    /* Accent */
    --color-accent-green: #9CD161;
    --color-accent-yellow: #F5AD0D;
    --color-accent-orange: #FB690C;

    /* Font Weight */
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
    --weight-extrabold: 800;


    /* Font family */
    --font-inter: "Inter", sans-serif;
    --font-dm-sans: "DM Sans", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --font-epilogue: "Epilogue", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Famous clients */
.famous {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 140px 0px;

    h3 {
        font-size: 24px;
        font-weight: var(--weight-bold);
        color: var(--color-neutral-800);
        font-family: var(--font-epilogue);
        margin-bottom: 35px;
    }

    .famous__clients {
        display: flex;
        gap: 54px;
        align-items: start;
    }
}